# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -r requirements.txt
  - pip install --editable .
  - pip install coveralls

# command to run tests, e.g. python setup.py test
script: coverage run --source collections_extended setup.py test

after_success: coveralls
