-e .

ipython

# Packaging & Deploying
bumpversion
wheel

# Tests
tox
pytest

# Linting
flake8
flake8-docstrings

# Coverage
coverage
codecov

# Docs
sphinx>=2.1
sphinxcontrib-napoleon
git+https://github.com/mlenzen/alabaster.git

