-e .

ipython

# Packaging & Deploying
bumpversion
wheel

# Tests
tox
pytest

# Linting
flake8
flake8-docstrings
mypy

# Coverage
coverage
codecov

# Docs
sphinx>=1.8
sphinxcontrib-napoleon
sphinx-autodoc-typehints
git+https://github.com/mlenzen/alabaster.git
