-r requirements.txt
bumpversion
pytest
sphinx
sphinxcontrib-napoleon
wheel
ipython
flake8
tox

# Keep coverage at a lower version to prevent TravisCI failures for Python 3.2:
# https://github.com/travis-ci/travis-ci/issues/4866
coverage<4
